 

.permis a {
    color: #b1094b;
}

.women-border img{
    border-radius: 100px;
}
.button-background{
    background-color: #E50054 !important;
    border: 1px solid #E50054 !important;
    color: white;
}

.reserve-btn
{
    border: 1px solid black;
    border-radius: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;

}

@media screen and (max-width: 768px){
    .button-direction
    {
        flex-direction: column;
        align-items: center;
    }
    .uni-text, .auto-text{
        text-align: center;
    }
}