@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: poppins;
}

.bg{
    background-color: #f5f6f8;
    border-radius: 10px;
}

.calender-img img{
    width: 70%;
}

.reserve-btn
{
    border: 1px solid black;
    border-radius: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;

}
.partout, .offre , .rapport
{
    font-weight: 600;
}

.hr-1
{
    position: absolute;
    border: px solid red;
    width: 30px;
    background: red;
    height: 5px;
}
 .hr-1::after{
    content: "";
    width:45%;
    height: 1px;
    /* background-color: rgba(194, 194, 194, 1); */
    position: absolute;
    /* top: 50%; */
    /* bottom: 0px; */
    /* left: 0px; */
} 
.leaflet-control-search .search-input {
    border: none !important;
    outline: none   !important;
}
.permis a {
    color: #b1094b;
}
.top-margin{
    margin-top: -10px;
}
.button-background{
    background-color: #E50054;
    border: 1px solid #E50054;
    color: white;
}
.image-border img{
    border-radius: 100px;
}
.marginn-tops{
    margin-top: 100px;
}
.card-border{
    border: 1px solid #CED3DB;
    border-radius: 10px 0px 0px 10px;
}
.card-top{
    margin-top: 60px;
}
.card3-border{
    border: 1px solid #CED3DB;
    border-radius: 0px 10px 10px 0px;
}
.card2-border{
    border: 1px solid #f5f6f8;
    background-color: #f5f6f8;
    border-radius: 10px;
}
.leper-margin{
    margin-top: 40px;
}
/*Responsive */
@media screen and (max-width: 768px) {
    .calender-img
    {
        display: none;
    }
    .button
    {
        text-align: center !important;
    }
    .direction
    {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .card-top{
        margin-top: 10px;
    }

    
}

@media screen and (max-width: 768px) {

}
